Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
config.h
config.h.in
stamp-h1
depcomp
install-sh
missing
tvcontrold/.deps/
tvcontrold/Makefile
tvcontrold/Makefile.in
tvcontrold/tvcontrold
tvcontrold/*.o
compile
tvcontrold.log
